[Desktop Entry]
Name=Krita Brush Import Filter
Name[bs]=Krita Brush uvozni filter
Name[ca]=Filtre d'importació Brush per al Krita
Name[ca@valencia]=Filtre d'importació Brush per al Krita
Name[da]=Brush-importfilter til Krita
Name[de]=Krita-Brush-Importfilter
Name[en_GB]=Krita Brush Import Filter
Name[es]=Filtro de Krita de importación de Brush
Name[et]=Krita Brush impordifilter
Name[fi]=Kritan Brush-tuontisuodatin
Name[fr]=Filtre d'importation Brush de Krita
Name[gl]=Filtro para Krita de importación de Brush
Name[it]=Filtro di importazione Brush per Krita
Name[nb]=Brush-importfilter for Krita
Name[nl]=Brush-importfilter voor Krita
Name[pl]=Filtr importu Brush do Krita
Name[pt]=Filtro de Importação de Brush para o Krita
Name[pt_BR]=Filtro de importação de Brush para Krita
Name[ru]=Фильтр импорта изображений Brush в Krita
Name[sk]=Importný filter Krita Brush
Name[sv]=Krita Brush-importfilter
Name[tr]=Krita Brush İçe Aktarım Filtresi
Name[uk]=Фільтр імпортування даних Brush для Krita
Name[x-test]=xxKrita Brush Import Filterxx
X-KDE-Export=application/x-krita
X-KDE-ServiceTypes=Krita/FileFilter
Type=Service
X-KDE-Import=image/x-tga
X-KDE-Weight=1
X-KDE-Library=kritatgaimport
NoDisplay=true
