[Desktop Entry]
Name=Krita Brush Export Filter
Name[bs]=Krita Brush izvozni filter
Name[ca]=Filtre d'exportació Brush per al Krita
Name[ca@valencia]=Filtre d'exportació Brush per al Krita
Name[da]=Brush-eksportfilter til Krita
Name[de]=Krita-Brush-Exportfilter
Name[en_GB]=Krita Brush Export Filter
Name[es]=Filtro de Krita de exportación a Brush
Name[et]=Krita Brush ekspordifilter
Name[fi]=Kritan Brush-vientisuodatin
Name[fr]=Filtre d'exportation Brush de Krita
Name[gl]=Filtro para Krita de exportación de Brush
Name[it]=Filtro di esportazione Brush per Krita
Name[nb]=Brush-eksportfilter for Krita
Name[nl]=Brush-exportfilter voor Krita
Name[pl]=Filtr eksportu Brush z Krita
Name[pt]=Filtro de Exportação de Brush para o Krita
Name[pt_BR]=Filtro de exportação de Brush para Krita
Name[ru]=Фильтр экспорта рисунков Krita в Brush
Name[sk]=Exportný filter Krita Brush
Name[sv]=Krita Brush-exportfilter
Name[tr]=Krita Brush Dışa Aktarım Filtresi
Name[uk]=Фільтр експорту Brush для Krita
Name[x-test]=xxKrita Brush Export Filterxx
X-KDE-Export=image/x-tga
X-KDE-ServiceTypes=Krita/FileFilter
Type=Service
X-KDE-Import=application/x-krita
X-KDE-Weight=1
X-KDE-Library=kritatgaexport
NoDisplay=true
